body {
    background-color: rgb(231, 182, 117);
}
main {
    background-color: white;
    margin: 1% 15%;
    height: 95vh;
    border-radius: 40px;
}

.container {
    display: flex;
    margin: 1rem 2rem .5rem;
}

h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form__dados {
    margin: 2% 0;
    height: 1.2rem;
    width: 50%;
}

.tipo {
    font-size: 1.3rem;
}

.botao {
    width: 50%;
    height: 1.7rem;
}

.botao:hover {
    background-color: #ffffff;
}

.tabela {
    margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.resposta {
    margin-top: .5rem;
}

#resposta {
    font-size: 1.2rem;
}

.invisivel {
    display: none;
}

.erro {
    color: red;
}
