body {
    background-color: rgb(223, 231, 117);
}
main {  
    background-color: white;
    margin: 1% 15%;
    height: 95vh;
    border-radius: 40px;
}

h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    width: calc(100% - 2rem);
    height: 2rem;
}

input {
    margin-right: 0.5%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

button {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}
